absl-py==0.9.0
astunparse==1.6.3
boto3==1.13.10
botocore==1.16.10
cachetools==4.1.0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
dataclasses==0.7
docutils==0.15.2
filelock==3.0.12
gast==0.3.3
google-auth==1.14.3
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.29.0
h5py==2.10.0
idna==2.9
importlib-metadata==1.6.0
jmespath==0.10.0
joblib==0.14.1
Keras-Preprocessing==1.1.2
lmdb==0.98
Markdown==3.2.2
methodtools==0.1.2
nltk==3.5
numpy==1.18.4
oauthlib==3.1.0
opt-einsum==3.2.1
pandas==1.0.3
path==13.1.0
path.py==12.4.0
protobuf==3.11.3
py-lz4framed==0.14.0
py-rouge==1.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyrouge==0.1.3
python-dateutil==2.8.1
pytz==2020.1
regex==2020.5.14
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
s3transfer==0.3.3
sacremoses==0.0.43
scikit-learn==0.23.0
scipy==1.4.1
sentencepiece==0.1.90
six==1.14.0
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0.post3
tensorboardX==2.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
threadpoolctl==2.0.0
tokenizers==0.7.0
torch==1.1.0
tqdm==4.46.0
transformers==2.9.1
urllib3==1.25.9
Werkzeug==1.0.1
wirerope==0.3.1
wrapt==1.12.1
zipp==3.1.0
